h2.directory-section {
  margin: 48px 0 12px;

  a {
    color: var(--body-text-color);
  }
}

ul.directory {
  padding-left: 24px;
  column-count: 2;
  column-gap: 48px;

  @media screen and (max-width: 767px) {
    column-count: 1;
  }

  li {
    margin-bottom: 18px;
  }

  li,
  li a {
    text-align: left;
  }
}
