main {
  display: grid;
  max-width: 960px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  grid-template-columns: minmax(0, 120px) minmax(0, 1fr);
  grid-gap: 24px;
}

nav {
  padding-top: 12px;

  ul {
    list-style: none;
  }

  a,
  & > a {
    color: var(--body-text-color);
  }
}

header h1 {
  font-size: 48px;
}

#logo {
  font-size: 48px;
  display: block;
}
