main {
  display: grid;
  padding: 24px;
  max-width: 810px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 24px;
}

header {
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: minmax(0, max-content) minmax(0, 1fr);
  align-items: center;
  grid-gap: 24px;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 12px;
    justify-content: start;
    width: max-content;

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(2, max-content);

      a {
        padding: 12px;
      }
    }
  }

  a,
  & > a {
    color: var(--body-text-color);
  }
}

header h1 {
  font-size: 48px;
}

#logo {
  font-size: 24px;
  display: block;
  user-select: none;
}
