.markdown {
  overflow-wrap: break-word;

  p,
  li {
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  ul,
  ol {
    padding-left: 24px;
  }

  .abstract + p::first-line,
  & > p:first-of-type::first-line {
    font-feature-settings: 'smcp';
  }

  .footnotes p:first-of-type::first-line {
    font-feature-settings: normal;
  }
}

h1 {
  margin: 0 0 0.5em 0;
  font-weight: bold;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 649px) {
  h1 {
    margin: 1.25em 0 0.5em 0;
    padding-bottom: 2px;
  }
}

@media only screen and (min-width: 650px) {
  @media only screen and (max-width: 1000px) {
    .markdown {
      line-height: 1.5;
    }
  }
  @media only screen and (min-width: 1001px) and (max-width: 1200px) {
    .markdown {
      line-height: 1.6;
    }
  }
  @media only screen and (min-width: 1201px) {
    .markdown {
      line-height: 1.8;
    }
  }
}

.abstract {
  & > blockquote {
    margin: 0 0 1.5em 0;
    background-color: var(--link-underline-color-abstract);
    border: 1px solid #999;
    padding: 0.9rem 1.25rem 0.95rem 1.25rem;
    clear: none;
    border-radius: 2px;

    a {
      text-shadow: 0 0.05em var(--link-underline-color-abstract),
        0.05em 0.05em var(--link-underline-color-abstract),
        -0.05em 0.05em var(--link-underline-color-abstract),
        0.17em 0.05em var(--link-underline-color-abstract),
        -0.17em 0.05em var(--link-underline-color-abstract),
        0.17em 0 var(--link-underline-color-abstract),
        -0.17em 0 var(--link-underline-color-abstract);
    }
  }
}

.markdown h2 {
  font-feature-settings: 'smcp';
  font-size: 1.75em;
  line-height: 1.25;
  letter-spacing: -0.75px;
  margin-bottom: 16px;

  &:not(:first-child) {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 1760px) {
  #sidenote-column-left,
  #sidenote-column-right {
    display: none;
  }
}

@media only screen and (min-width: 1761px) {
  .marginnote {
    display: none;
  }
}

.markdown a,
footer a,
.meta-knowledge a {
  text-decoration: none;
  background-image: linear-gradient(var(--link-gradient-color), var(--link-gradient-color));
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0 calc(100% - 0.1em);
  box-decoration-break: clone;

  /*  Disable oldstyle nums in underlined links because the oldstyle nums are almost subscript-like and overlap */
  font-variant-numeric: lining-nums;
}

.markdown a,
footer a,
.meta-knowledge a {
  text-shadow: 0 0.05em var(--link-underline-color), 0.05em 0.05em var(--link-underline-color),
    -0.05em 0.05em var(--link-underline-color), 0.17em 0.05em var(--link-underline-color),
    -0.17em 0.05em var(--link-underline-color), 0.17em 0 var(--link-underline-color),
    -0.17em 0 var(--link-underline-color);
}

.footnotes {
  margin-top: 48px;
}

.markdown table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
  font-size: 0.8em;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid hsla(210, 18%, 87%, 1);
}

.markdown table th {
  font-weight: 600;
}

.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown > blockquote {
  border-left: 4px solid #c6ced6;
  padding-left: 24px;
}
