.meta-knowledge {
  ul {
    list-style: none;
  }

  li {
    font-size: 0.85rem;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    // Marked outputs a `p` wrapper for this content
    p {
      display: inline;
    }
  }

  .name a {
    text-decoration: none;
  }

  margin: 12px 0 24px;
  padding: 12px 0 24px;
  border-bottom: 1px solid #000; // TODO - color
}

.tending {
  font-size: 0.85rem;
  margin-top: 24px;
}
